@model BIEN_LAI_CHI_TIET
<div class="container">
	<div class="BLCT_form">
		<div class="BLCT_BL">

			<div class="BLCT_p">
				<p>Loại biên lai: @(Model.BIEN_LAI.LoaiBienLai ? "Đơn hàng xuất" : "Đơn hàng nhập")</p>
				<p>Ngày giao: @Model.BIEN_LAI.NgayGiao</p>
				<p>Ngày tạo: @Model.BIEN_LAI.NgayLap</p>
			</div>
			<div class="BLCT_p">
				<p>Tên nhà cung cấp: @ViewBag.TenNhaCungCap</p>
				<p>Thông tin giao hàng: @Model.BIEN_LAI.ThongTinGiaoHang</p>
			</div>
		</div>
		<div class="Form_ChonLo">
			<select asp-for="MaLo" asp-items="@ViewBag.LovaSP" class="form-control"> 6
			</select>
			<div class="BLCT_SL">
				<p>Số lượng</p>
				<div>
					<input asp-for="SoLuong" type="text" placeholder="Số lượng" /></br>
					<span asp-validation-for="SoLuong" class="text-danger"></span>
				</div>
			</div>
			<div class="ThemLovaoBL">
				<button>Thêm lo</button>
			</div>
		</div>

		<div class="BLCT_Table">
			<div class="Tb-Container">

			</div>
		</div>
	</div>



</div>