@model BIEN_LAI_CHI_TIET
<div class="container">
	<div class="BLCT_form">
		<div class="BLCT_BL">
			
			<div class="BLCT_p">
				<p>Loại biên lai: @(Model.BIEN_LAI.LoaiBienLai ? "Đơn hàng xuất" : "Đơn hàng nhập")</p>
				<p>Ngày giao: @Model.BIEN_LAI.NgayGiao.ToString("dd/MM/yyyy")</p>
				<p>Ngày tạo: @Model.BIEN_LAI.NgayLap.ToString("dd/MM/yyyy")</p>
			</div>
			<div class="BLCT_p">
				<p>Tên nhà cung cấp: @ViewBag.TenNhaCungCap</p>
				<p>Thông tin giao hàng: @Model.BIEN_LAI.ThongTinGiaoHang</p>
				<p>Ghi chú: @Model.BIEN_LAI.GhiChu</p>
			</div>
		</div>
		@if(Model.BIEN_LAI.TrangThai == 0)
		{
			<form method="post" asp-action="ThemLoXuat" asp-controller="Lo" asp-route-id="@Model.BIEN_LAI.MaBienLai" id="mid1" >
				<div class="Form_ChonLo">
					<select asp-for="MaLo" asp-items="@ViewBag.LovaSP" class="form-control">
					</select>
					<div class="BLCT_SL">
						<p>Số lượng</p>
						<div>
							<input asp-for="SoLuong" type="text" placeholder="Số lượng" />
							<span asp-validation-for="SoLuong" class="text-danger"></span>
						</div>
					</div>
					<div class="ThemLovaoBL">
						<button type="submit">Thêm lo</button>
					</div>
				</div>
			</form>
		}
		else
		{
			
		}

		
		


		<div class="BLCT_Table">
			<div class="Tb-Container">
				@await Component.InvokeAsync("BLCT_LOXUAT", Model.BIEN_LAI.MaBienLai)
			</div>
		</div>


		<div class="flex-end">

			@if (Model.BIEN_LAI.TrangThai == 0)
			{//thêm popup
				<div class="lg_DN">
					 <a asp-controller="BienLaiChiTiet" asp-action="XacNhanDanhSach" asp-route-id="@Model.BIEN_LAI.MaBienLai" id="xacnhan">
						<button class="open-btn" data-id="@Model.BIEN_LAI.MaBienLai">
						  Xác nhận danh sách
						</button>
					  </a>
					<div id="popup-@Model.BIEN_LAI.MaBienLai" class="popup" style="display:none;">
						<p>Bạn có chắc chắn dừng thêm Lô không?</p>
						<button onclick="dungThemLo(@Model.BIEN_LAI.MaBienLai)">Có</button>
						<button onclick="closePopup(@Model.BIEN_LAI.MaBienLai)">Không</button>
					</div>
				</div>
				
			}
			@if (Model.BIEN_LAI.TrangThai == 1)
			{
				<div class="lg_DN">
					<a asp-controller="BienLaiChiTiet" asp-action="HoanThanh" asp-route-id="@Model.BIEN_LAI.MaBienLai" id="hoanthanh">
						<button>
							Hoàn Thành
						</button>
					</a>
				</div>
			}
			else
			{

			}
		</div>


	</div>



</div>



<script>

	const form = document.getElementById("mid1");
	function sendData() {
		const XHR = new XMLHttpRequest();

		// Bind the FormData object and the form element
		const FD = new FormData(form);

		// Define what happens on successful data submission
		XHR.addEventListener("load", (event) => {
			var obj = JSON.parse(event.target.responseText);
			console.log(obj);
			console.log(obj.type);
			if (obj.type === "error") {
				alert(obj.res);
			}
			else if (obj.type === "link") {
				window.location.href = obj.res;
			}
		});

		// Define what happens in case of error
		XHR.addEventListener("error", (event) => {
			alert("Oops! Something went wrong.");
		});

		// Set up our request
		XHR.open("POST", "https://" + window.location.host + "/Lo/ThemLoXuat/" + @Model.BIEN_LAI.MaBienLai );

		// The data sent is what the user provided in the form
		XHR.send(FD);
	}
	form.addEventListener("submit", (event) => {
		event.preventDefault();

		sendData();
	});
</script>
<!-- thêm popup-->
<script>
  document.querySelectorAll('.open-btn').forEach(button => {
    button.addEventListener('click', function () {
      const id = this.getAttribute('data-id');
      const popup = document.getElementById(`popup-${id}`);
      popup.style.display = 'block';
    });
  });

  // Hàm đóng popup
  function closePopup(id) {
    const popup = document.getElementById(`popup-${id}`);
    popup.style.display = 'none';
  }

</script>