@model IEnumerable<BIEN_LAI>
<div class="container">
	<div class="Them_ND">
		<div>
			<a asp-controller="BienLai" asp-action="ThemBienLai"><button class="Them-TK">Thêm biên lai</button></a>
		</div>
		<div class="ND_TimKiem">
			<input type="text" placeholder="Tìm kiếm biên lai..." name="searchString">
		</div>
	</div>
	<div class="Tb-Container">
		<table class="table_user responsive-table">
			<thead>
				<tr>
					<th> STT</th>
					<th> Loại biên lai</th>
					<th> Ngày giao</th>
					<th> Tên người dùng</th>
					<th> Tên nhà cung cấp</th>
					<th> Thông tin giao hàng</th>
					<th> Ngày tạo</th>
					<th> Trạng thái</th>
					<th> Chỉnh sửa</th>
				</tr>
			</thead>
			<tbody>
				@{
					int j = 0;
				}
				@{
					if (Model != null)
					{
						@foreach (var i in Model)
						{
							j = j + 1;
							<tr>
								<td>@j</td>
								@if(i.LoaiBienLai == true)
								{
									<td>Đơn hàng xuất</td>
								}
								else
								{
									<td>Đơn hàng nhập</td>
								}
								<td>@i.NgayGiao</td>
								<td>@i.NGUOI_DUNG.TenNguoiDung</td>
								<td>@i.NHA_CUNG_CAP.TenNhaCungCap</td>
								<td>@i.ThongTinGiaoHang</td>
								<td>@i.NgayLap</td>
								<td>@i.TrangThai</td>
								@*@if(i.LoaiBienLai == true)
								{
									<td class="ND_Table_Icon">
										<a class="btn-primary" asp-controller="BienLaiChiTiet" asp-action="BienLaiCTXuat" asp-route-id="@i.MaBienLai">
											<i class="fas fa-plus"></i>
										</a>
									</td>
								}
								else
								{

								}*@
								<td class="ND_Table_Icon">
									<a class="btn-primary" asp-controller="BienLaiChiTiet" asp-action="Index" asp-route-id="@i.MaBienLai" onclick="ThemBienLaiChiTiet(@i.MaBienLai)">
										<i class="fas fa-plus"></i>
									</a>
								</td>
							</tr>
						}  
					}
				}

			</tbody>
		</table>
	</div>
</div>
<script>
	function ThemBienLaiChiTiet(id) {
		console.log(id + "Something something");
		return id;
	}
</script>