
@model BIEN_LAI_CHI_TIET
<div class="container">
    <form method="post">
        <div class="ND_body">

            <div class="BienLai_Form">

                <h1 class="BL_h1_Ten">Thêm biên lai</h1>
                <div class="BL_H1">
                    <div class="BL_Loai magrin_Input">
                        <!--<p>Chọn loại biên lai</p>-->
                        <select asp-for="@Model.BIEN_LAI.LoaiBienLai" class="textbox">
                            <option value="Đơn hàng xuất">Đơn hàng xuất</option>
                            <option value="Đơn hàng nhập">Đơn hàng nhập</option>
                        </select>
                    </div>
                    <div class="BL_NCC magrin_Input">
                        <!--<<p>Tên nhà cung cấp</p>-->
                        <select asp-for="@Model.BIEN_LAI.MaNhaCungCap" asp-items="ViewBag.NhaCungCap" class="textbox" placeholder="Nhà cung cấp">
                            <option value="" disabled selected>Chọn nhà cung cấp</option>
                        </select>
                    </div>
                </div>
                <div class="BL_H1">
                    <div class="BL_NCC magrin_Input">
                        <!--<<p>Ngày giao</p>-->
                        <input asp-for="@Model.BIEN_LAI.NgayGiao" required type="date" style="padding-left: 20%;" placeholder="Ngày giao" />
                    </div>
                    <div class="BL_NCC magrin_Input">
                        <!--<<p>Thông tin giao hàng</p>-->
                        <input asp-for="@Model.BIEN_LAI.ThongTinGiaoHang" type="text" placeholder="Thông tin giao hàng">
                        <span asp-validation-for="@Model.BIEN_LAI.ThongTinGiaoHang" class="text-danger"></span>
                    </div>
                </div>
                <div class="BL_TimSP BL_H1">
                    <div class="BL_NCC">
                        <!--<<p>Tìm sản phẩm</p>-->
                        <input type="text" placeholder="Tìm kiếm sản phẩm...">
                    </div>
                    <div class="BL_NCC">
                        <!--<<p>Tên lô</p>-->
                        <select asp-for="@Model.MaLo" asp-items="ViewBag.Lo" class="textbox" placeholder="Nhập số lô">
                            <option value="" disabled selected>Chọn số lô</option>
                        </select>
                    </div>

                </div>
                <div class="BL_ThemBL">
                    <button type="submit">Thêm Biên Lai</button>
                </div>
                @if (TempData["ThongBao"] != null)
                {
                    <p> @TempData["ThongBao"]</p>
                }
            </div>



        </div>

    </form>
</div>
