@model IEnumerable<BIEN_LAI_CHI_TIET>
<div class="container">
	<partial name="_Notification" />
	<div class="Lo_html">


	<form method="get">
		<div class="ND_TimKiem_Ten">
			<div class="ND_TimKiem">
				<input type="text" placeholder="Tìm kiếm lo..." name="searchString">
			</div>
		</div>
	</form>
	<div class="Tb-Container">
		<div class="Them_ND">
			
			<form method="get">
				<div class="ND_TimKiem_Ten">
					<div class="ND_TimKiem">
						<input type="text" placeholder="Tìm kiếm lô..." name="searchString">
					</div>
				</div>
			</form>
		</div>
		
		<table class="table_user responsive-table">
			<thead>
				<tr>
					<th> STT</th>
					<th> Tên sản phẩm</th>
					<th> Quy cách</th>
					<th> Đơn vị</th>
					<th> Số lượng</th>
					<th> Đơn giá</th>
					<th> Lô</th>
					<th> Hạn sử dụng</th>
				
				</tr>
				
			</thead>
			<tbody>

				@{
					int j = 0;
					double soluong = 0;	
				}
				@foreach (var i in Model )
				{
					j +=1;
					<tr>
						<td>@j</td>
						<td>@i.LO.SAN_PHAM.TenSanPham</td>
						<td>@i.LO.SAN_PHAM.QuyCach</td>
						<td>@i.LO.SAN_PHAM.DonVi</td>
						<td>@i.LO.SoLuong</td>
						<td>@i.LO.SAN_PHAM.DonGia</td>
						<td>@i.LO.TenLo</td>
						<td>@i.LO.HanSuDung</td>
						
					</tr>

				}
			
			</tbody>
			
		</table>
	</div>
</div>
</div>
